header {
  height: 7rem;
  width: 100%;
  background: $dark-blue;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  img + img {
    margin-left: 2rem;
  }
}
